.movie {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 189, 201);
  border-radius: 5px;
}
.movie img {
  width: 100%;
  padding: 0.5em;
}
@media screen and (max-width: 480px) {
  .movie img {
    padding: 0.1em;
  }
}
